pipeline/PL_Metadata_Driven_Ingestion.json
{
	"name": "PL_Metadata_Driven_Ingestion",
	"properties": {
		"activities": [
			{
				"name": "Lookup_Active_Tables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeV2Source",
						"query": "SELECT SOURCE_DB_NAME, SOURCE_SCHEMA_NAME, SOURCE_TABLE_NAME, TARGET_SNOWFLAKE_SCHEMA, TARGET_SNOWFLAKE_TABLE \nFROM CONFIG_SCHEMA.INGESTION_CONFIG \nWHERE IS_ACTIVE = TRUE;",
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						},
						"treatDecimalAsString": false
					},
					"dataset": {
						"referenceName": "DS_Snowflake_Config",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_Active_Table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_Active_Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_Active_Tables').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 8,
					"activities": [
						{
							"name": "Copy_Source_To_Blob",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 3,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_AzureSQL_DynamicSource",
									"type": "DatasetReference",
									"parameters": {
										"Param_DB": {
											"value": "@item().SOURCE_DB_NAME",
											"type": "Expression"
										},
										"Param_Schema": {
											"value": "@item().SOURCE_SCHEMA_NAME",
											"type": "Expression"
										},
										"Param_Table": {
											"value": "@item().SOURCE_TABLE_NAME",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_AzureBlob_DynamicStaging",
									"type": "DatasetReference",
									"parameters": {
										"Param_DB": {
											"value": "@item().SOURCE_DB_NAME",
											"type": "Expression"
										},
										"Param_Schema": {
											"value": "@item().SOURCE_SCHEMA_NAME",
											"type": "Expression"
										},
										"Param_Table": {
											"value": "@item().SOURCE_TABLE_NAME",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Copy_Blob_To_Snowflake",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Deploy_And_Evolve_Schema",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "ParquetReadSettings"
									}
								},
								"sink": {
									"type": "SnowflakeV2Sink",
									"importSettings": {
										"type": "SnowflakeImportCopyCommand"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_AzureBlob_DynamicStaging",
									"type": "DatasetReference",
									"parameters": {
										"Param_DB": "@item().SOURCE_DB_NAME",
										"Param_Schema": {
											"value": "@item().SOURCE_SCHEMA_NAME",
											"type": "Expression"
										},
										"Param_Table": {
											"value": "@item().SOURCE_TABLE_NAME",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_Snowflake_DynamicBronze",
									"type": "DatasetReference",
									"parameters": {
										"Param_Schema": {
											"value": "@item().TARGET_SNOWFLAKE_SCHEMA",
											"type": "Expression"
										},
										"Param_Table": {
											"value": "@item().TARGET_SNOWFLAKE_TABLE",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Deploy_And_Evolve_Schema",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Copy_Source_To_Blob",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "LS_Snowflake_DWH",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat(\n    'CREATE OR REPLACE TABLE PLC_DWH.BRONZE_LAYER.', item().TARGET_SNOWFLAKE_TABLE, ' ',\n    'COPY GRANTS ',\n    'USING TEMPLATE (',\n        'SELECT ARRAY_AGG(OBJECT_CONSTRUCT(*)) ',\n        'FROM TABLE(',\n            'INFER_SCHEMA(',\n                'LOCATION=>''@PLC_DWH.CONFIG_SCHEMA.AZURE_BLOB_STAGE/', item().SOURCE_DB_NAME, '/', item().SOURCE_SCHEMA_NAME, '/', item().SOURCE_TABLE_NAME, '/'', ',\n                'FILE_FORMAT=>''PLC_DWH.CONFIG_SCHEMA.PARQUET_FORMAT''',\n            ')',\n        ')',\n    ');'\n)",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00",
								"treatDecimalAsString": false
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2026-07-21T09:24:20Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}